* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
ul,
li,
a {
  list-style: none;
  text-decoration: none;
}
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.grid {
  display: grid;
  margin: 0 auto;
}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px;
}
.menu {
  display: flex;
  gap: 20px;
  color: black;
}
.texto-link {
  color: black;
  font-size: 1.2rem;
}
.titulo {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 20px;
}
.foto-perfil {
  width: 18em;
  object-fit: cover;
}
.texto {
  display: flex;
  align-items: center;
  font-size: 3.5rem;
  font-weight: bold;
}
.grid-coluna {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 40px;

  position: relative;
}
.grid-coluna::after {
  content: "";
  position: absolute;
  top: 65px;
  left: 690px;
  width: 100px;
  height: 135px;
  background: url("./../img/detalhe.svg") no-repeat;
  z-index: -1;
}

.texto-paragrafo {
  font-size: 1.5rem;
  display: grid;
  grid-column: 2;
  margin: -70px 15px;
  
}
