* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
ul,
li,
a {
  list-style: none;
  text-decoration: none;
}
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.principal {
  margin: 2em auto;
}
.banner {
  display: flex;

  justify-content: space-between;

  margin: 0% 2em;
  gap: 0.5em;
}
.titulo {
  font-weight: bold;

  font-size: 3em;
}
.menu {
  display: flex;
  align-items: center;
  gap: 0.5em;
  text-align: left;
}
.link {
  color: black;
  font-size: 1.2em;
  padding: 0% 0.5em;
}
.corpo {
  margin: 2em;
}
.foto-perfil {
  width: max-content;
  max-width: 19em;
  object-fit: cover;
}
.imagem-foto {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.texto {
  text-align: center;
  display: grid;
  justify-content: center;
  width: max-content;
  width: 100%;
  font-size: 4em;
  font-weight: bold;
  position: relative;
}
.texto::before {
  content: "";
  position: absolute;
  background: url(../img/detalhe.svg);
  background-size: contain;
  display: block;
  width: 65px;
  height: 65px;
  left: 350px;
  bottom: 180px;
  z-index: -1;
}
