* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
ul,
li,
a {
  list-style: none;
  text-decoration: none;
}
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.grid {
  display: grid;
  margin: 0 auto;
}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px;
}
.menu {
  display: flex;
  gap: 20px;
  color: black;
}
.texto-link {
  color: black;
  font-size: 1.2rem;
}
.titulo {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 20px;
}

.texto {
  display: flex;
  align-items: center;
  font-size: 3.5rem;
  font-weight: bold;
}
.grid-coluna{
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  place-content: center;
  margin: 0 40px;
  
}
.imagem-perfil{
  width: 30vw;
  height: max-content;
  object-fit: cover;
}
.titulo-externo{
  display: flex;
  font-size: 2.5rem;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px 0;
  position: relative;
}
.titulo-externo::after{
  content: "";
  display: block;
  position: absolute;
  top: -410px;
  left: -350px;
  width: 100%;
  height: 100%;
  background:url(./../img/detalhe.svg) no-repeat bottom; 
  
  
}
.texto-linha{
  font-size: 1.05rem;
}
.item-experiencia{
  font-size: 12em;
  color: #d3d3d3;
}
.combo{
  display: flex;
  align-content: center;
  justify-content: start;
 
  width: 90vw;
  gap: 40px;


}
.item{
  display: flex;
  flex-direction: column;
 background-color: #d3d3d3;
 /* margin: 0 20px; */
 /* padding:0 20px; */
}

.combo-item-linha{
  display: flex;
  
  font-size: 1.80rem;

  margin: 55px 0;
}
.combo-texto{
  font-size: 0.80cap;
}
.combo-titulo{
  font-size: 1.15rem;
  font-weight: bold;
  
  
  

}
.combo-ano{
  display: block;
font-size: 1.15rem;
margin:  25px;
position: relative;


}
.combo-color{
  display: flex;
  background-color: #d3d3d3;
  gap:  20px;
  padding: 20px;
  

  
}
.combo-ano::after{
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: 60px;
  width: 10px;
  height: 35px;
  background-color: #70DA1C;
  border-radius: 5px;
}